{% extends "layout.html" %}

{% block content %}


<div class="container">
  <div class="col-md-8">
    <h2>About Farmers Market</h2>
    <p>
      The Downtown Farmers Market has a new look and a new name! Since 1998, the farmers market has been known as the Downtown Saturday Market. Over the years, it has brought fresh produce and locally made crafts to our community in our open-air atmosphere downtown on the court square. The original purpose of the market was to bring back the hustle and bustle of years gone by when ‘Trade Day’ was popular. Downtown Murray was a busy place on the first Thursday of the month. Today, the Downtown Farmers Market brings residents from near and far to socialize, shop for fresh produce or just walk around the square. Residents of Murray and Calloway County can find the highest quality and freshest selection of locally grown and produced agricultural products in a friendly, clean and inviting atmosphere. The open-air market brings everyone the ‘bounty of the county’ and has for more than a decade.
    </p>
    <p>
      Kentucky ProudIn addition to our Saturday morning market, we have added a Tuesday market. One weekday per week from July-September, the market will be located on the Murray Calloway County Hospital campus. This allows those who work on the hospital campus to concentrate on ‘healthy eating’ and it is a great way to promote the downtown market.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Categories</h3>
    <ul>
      <li><a href="#">Eggs</a></li>
      <li><a href="#">Bacon</a></li>
      <li><a href="#">Eggs</a></li>
      <li><a href="#">Eggs</a></li>
    </ul>
  </div>
</div>
{% endblock %}
